.card {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px #0000000d;
}
.top {
  width: 100%;
  display: flex;
  justify-content: end;
}
.close {
  position: static;
}
.title {
  text-align: center;
  font-weight: 500;
}
.btn {
  padding: 8px 0;
  width: 100%;
  background-color: var(--prime);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  margin-top: auto;
  &.active {
    background-color: var(--green);
  }
}
