.cart {
  width: 720px;
  padding: 20px;
}
.not {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  p {
    font-weight: 500;
    color: #585656;
    margin-bottom: 1rem;
  }
  button {
    all: unset;
    color: #fff;
    background-color: var(--prime);
    border-radius: 0.5rem;
    font-weight: 500;
    height: 56px;
    width: 288px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
}
