.order {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .btn {
      background: #f0f0f0;
    }
  }
}
.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
}
.topRow {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 30px 35px;
}
.content {
  overflow: hidden;
  transition: height 0.3s;
}
.date {
  color: #aeaeae;
}
.status {
  padding: 8px 16px;
  background: #eaf8f4;
  color: #1bb486;
  border-radius: 30px;
}
.btn {
  all: unset;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &.active {
    transform: rotate(-180deg);
  }
}
.item {
  padding: 20px 25px;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemRow {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.itemTitle {
  font-weight: 700;
  line-height: 1.8;
}
.img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 16px;
}
.right {
  text-align: end;
}
.price {
  font-weight: 700;
  line-height: 1.8;
}
.count {
  color: #a1a1a1;
  font-size: 14px;
}
.footer {
  padding: 27px 35px;
  font-size: 20px;
}
