.wrapper {
  position: relative;
  margin-bottom: 40px;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}

.more {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid var(--prime);
  color: var(--prime);
  font-size: 16px;
  border-radius: 0.5rem;
  padding: 12px;
  transition: 0.3s;
  &:hover {
    background-color: var(--prime);
    color: #fff;
  }
  &:active {
    filter: brightness(0.9);
  }
}
