.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  gap: 24px;
  justify-content: space-between;
}
.favTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1rem;
}
