.login {
  height: 32px;
  padding: 7px 40px;
  background-color: var(--prime);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.9;
  }
}
.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  height: 32px;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  img {
    width: 20px;
  }
  p {
    max-width: 7ch;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.drop {
  visibility: hidden;
  opacity: 0;
  margin-top: 8px;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 210px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  li {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
    &:hover {
      filter: brightness(0.96);
    }
  }
}
