.login {
  height: 32px;
  padding: 7px 40px;
  background-color: var(--prime);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.9;
  }
}
.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  height: 32px;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  img {
    width: 20px;
  }
  p {
    max-width: 7ch;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
