.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 12px;
  color: #fff;
  background-color: var(--prime);
  padding: 0 28px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    opacity: 0.9;
  }
}
.user {
  min-width: 130px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 16px;
  border: 1px solid var(--prime);
  color: var(--prime);
  background-color: #fff;
  padding: 14px 18px;
  cursor: pointer;

  p {
    max-width: 7ch;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.drop {
  visibility: hidden;
  opacity: 0;
  margin-top: 6px;
  padding: 13px 0;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 132px;
  border: 1px solid #f8f8f8;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.actions {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  li {
    padding: 10px 16px;
    transition: 0.3s;
    color: #000;
    &:hover {
      filter: brightness(0.96);
      background-color: #f0ffff;
      color: var(--prime);
    }
    &:last-child {
      border-top: 1px solid #f6f6f6;
    }
  }
}
@media (max-width: 900px) {
  .login {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .user,
  .login {
    display: none;
  }
}
