.wrapper {
  inset: 0;
  transform: scale(0.8);
  z-index: 1000;
  background: #fff;
  /* position: fixed; */
  /* visibility: hidden; */
  /* opacity: 0; */
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease;
  &.open {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  height: 100%;
  font-size: 18px;
}
.link {
  transition: 0.3s;
  color: #000;
  &:hover {
    color: var(--prime);
  }
}
