.wrapper {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1000;
  background: #fff;
  padding: 30px 24px;
  border-radius: 0 0 24px 24px;
  transition: 0.3s ease;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  height: 100%;
  font-size: 18px;
}
.link {
  transition: 0.3s;
  color: #000;
  &:hover {
    color: var(--prime);
  }
}
@media (max-width: 768px) {
  .wrapper {
    display: block;
  }
}
