.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 153px);
}
.not {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 3px;
  }
  p {
    color: #585656;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
  }
}
.image {
  position: relative;
  margin-top: -70px;
  max-width: 456px;
  z-index: -1;
  user-select: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
