.advantages {
  padding: 40px 0;
}
.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 228px);
  justify-content: space-between;
  gap: 15px;
  &:hover .advantagesCard {
    opacity: 0.4;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
      img {
        animation: shake 1s ease-in-out;
      }
    }
  }
}
.advantagesCard {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180.04deg, #fe94a6 0.04%, #f2f2f2 65.84%);
  border-radius: 1rem;
  padding: 8px;
  padding-bottom: 32px;
  padding-top: 24px;
  transition: 0.3s;
  & > h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 700;
  }
  & > p {
    text-align: center;
    color: #585656;
  }

  &:nth-child(2) {
    background: linear-gradient(180.04deg, #e685ff 0.04%, #f2f2f2 65.84%);
  }
  &:nth-child(3) {
    background: linear-gradient(180.04deg, #7de9ff 0.04%, #f2f2f2 65.84%);
  }
  &:nth-child(4) {
    background: linear-gradient(180.04deg, #ffe685 0.04%, #f7f7f7 65.84%);
  }
  &:nth-child(5) {
    background: linear-gradient(180.04deg, #adffc1 0.04%, #f2f2f2 65.84%);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  } /* Начальное положение */
  20% {
    transform: translateX(-5px);
  } /* Смещение влево */
  40% {
    transform: translateX(5px);
  } /* Смещение вправо */
  60% {
    transform: translateX(-5px);
  } /* Снова влево */
  80% {
    transform: translateX(5px);
  } /* Снова вправо */
  100% {
    transform: translateX(0);
  } /* Возвращение в центр */
}
@media (max-width: 746px) {
  .row {
    justify-content: center;
  }
}
