.card {
  position: relative;
  padding: 16px 8px 24px 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px #0000000d;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.cardTop {
  display: flex;
  align-items: flex-start;
}
.rating {
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.active {
  svg * {
    fill: #ffad31;
  }
}
.like {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.3s;
  svg,
  svg * {
    transition: 0.3s;
  }
  &:hover {
    svg * {
      stroke: #ee204d;
      fill: #ee204d;
    }
  }
  &:active {
    svg {
      transform: scale(1.2);
    }
  }
  &.inFavorites {
    svg * {
      stroke: #ee204d;
      fill: #ee204d;
    }
  }
}
.img {
  width: 100%;
  margin-bottom: 1rem;
  height: 288px;
  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 9px;
  cursor: pointer;
}
.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  p {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #706e6e;
    font-weight: 500;
  }
}
.price {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: end;
}
.btn {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  background-color: var(--prime);
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  height: 56px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
  &.btnActive {
    background-color: #6fd91c;
  }
  &:disabled {
    cursor: default;
    &:hover {
      filter: brightness(1);
    }
  }
}
