.categories {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.categoryItem {
  padding: 0.5rem 1rem;
  border: 1px solid #b7b7b7;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  transition: 0.3s;
  &.activeCategory {
    border-color: var(--prime);
  }
}
.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 187px);
  gap: 1rem;
}
.compareProducts {
  display: flex;

  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 300px;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 1.5rem;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      width: 100%;
      text-align: center;
      padding: 1rem;
      &:nth-child(2n + 1) {
        font-weight: 600;
        color: var(--prime);
        background-color: var(--light-grey);
      }
    }
  }
}
