.select {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10.5px 8px;
  background-color: var(--light-grey);
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid transparent;

  & > svg {
    transition: 0.4s;
  }

  &.open {
    border-radius: 8px 8px 0 0;
    border: 1px solid var(--light-grey);
    background-color: #fff;
    & > svg {
      transform: rotate(-180deg);
    }
    .items {
      visibility: visible;
      opacity: 1;
      background-color: #fff;
      border: 1px solid var(--light-grey);
      border-top: none;
    }
  }
}
.items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--light-grey);
  z-index: 10;
  transition: 0.3s;
  border-radius: 0 0 8px 8px;
  border: 1px solid transparent;
  border-top: none;

  box-shadow: 0px 4px 8px 0px #0000000d;
}
.item {
  padding: 10.5px 8px;
  border-bottom: 1px solid var(--light-grey);
  transition: 0.3s;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: var(--prime);
    color: #fff;
  }
}
