.form {
  position: relative;
  padding: 32px;
  p {
    font-size: 28px;
    margin-bottom: 24px;
    span {
      font-weight: 600;
    }
  }
}
.row {
  display: flex;
  gap: 1.5rem;
  button {
    flex: 1;
    height: 56px;
    padding: 0 30px;
    background-color: #d53032;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    &:nth-child(2) {
      border: 1px solid #d53032;
      background-color: transparent;
      color: #d53032;
    }
  }
}
