.field {
  display: block;
  background: var(--light-grey);
  border: none;
  padding: 0 1rem;
  height: 50px;
  width: 100%;
  border-radius: 1rem;
  transition: 0.3s;
  outline: none;
  &:focus {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05) inset;
  }
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &.err {
    outline: 1px solid red;
  }
}
.inputBlock {
  position: relative;
}
.checkIcon {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  right: 20px;
  width: 25px;
  transition: 0.5s;
  &.success {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
