.wrapper {
  padding: 40px 0;
}
.row {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.call {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  h2 {
    font-size: 24px;
  }
}
.tel {
  color: var(--prime);
  font-size: 32px;
  font-weight: 700;
}
.wecall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  button {
    all: unset;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    color: var(--prime);
  }
}

.location {
  flex: 1;
  background: #f3f8ff;
  border-radius: 1rem;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.locationRight {
  flex: 1;
  height: 326px;
}
.locationLeft {
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
.locationList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
}
