.headerNav {
  min-height: 94px;
  display: flex;
  align-items: center;
  gap: 36px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 18px;
}
.tel {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.call {
  text-align: end;
  color: var(--prime);
}

.mobInput {
  display: none;
}
.search {
  display: none;
}

@media (max-width: 900px) {
  .headerNav {
    gap: 16px;
    font-size: 14px;
  }
  .links {
    gap: 14px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .headerNav {
    min-height: unset;
    padding: 4px 0;
  }
  .search {
    display: block;
  }

  .links {
    display: none;
  }
  .mobInput {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 244px;
    width: 100%;
    input {
      width: 100%;
      border: none;
      outline: none;
      &::placeholder {
        color: #b7b7b7;
      }
    }
  }
  .contact {
    margin-left: auto;
  }
  .call {
    display: none;
  }
}
