.headerNav {
  min-height: 94px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.link {
  position: relative;
  cursor: pointer;
  padding: 0 4px;
  transition: 0.3s;

  &::before {
    opacity: 0;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--prime);
    border-radius: 4px;
    bottom: -5px;
    transition: 0.3s;
  }
  &:hover {
    color: var(--prime);
    &::before {
      opacity: 1;
    }
  }
  &:first-child {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 3px 7px;
    border-radius: 8px;
    background-color: #fdefbf;
  }
  &.linkActive {
    color: var(--prime);
    &::before {
      opacity: 1;
    }
  }
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 18px;
}
.tel {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.call {
  text-align: end;
  color: var(--prime);
}

.mobInput {
  display: none;
}
.burger {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
@media (max-width: 768px) {
  .headerNav {
    min-height: unset;
    padding: 4px 0;
  }
  .burger {
    display: flex;
  }
  .links {
    display: none;
    /* position: absolute;
    left: 0;
    top: 144px;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    padding: 1rem 0;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: unset; */
  }
  .mobInput {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 244px;
    width: 100%;
    input {
      width: 100%;
      border: none;
      outline: none;
      &::placeholder {
        color: #b7b7b7;
      }
    }
  }
  .contact {
    margin-left: auto;
  }
  .call {
    display: none;
  }
}
