@font-face {
  font-family: "SF";
  src: url(/fonts/SF-Pro-Display-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "SF";
  src: url(/fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "SF";
  src: url(/fonts/SF-Pro-Display-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "SF";
  src: url(/fonts/SF-Pro-Display-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "SF";
  src: url(/fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
}
:root {
  --light-grey: #f9f9f9;
  --prime: #0071e4;
  --text-black: #100e0e;
  --green: #6fd91c;
  --light-prime: #2a93fd;
  --tab-width: 768px;
  /* --mob-width: */
  --card-size: 282px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: clamp(14px, 1.2vw, 18px);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--prime);
}
body {
  font-family: "SF", sans-serif;
  font-weight: 400;
  color: var(--text-black);
  line-height: 1;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
input {
  font-family: inherit;
  font-size: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 5px;
  background-clip: padding-box;
}
