:root {
  --light-grey: #f9f9f9;
  --prime: #0071e4;
  --text-black: #100e0e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--prime);
}
body {
  font-family: var(--font-geist-sans);
  color: var(--text-black);
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
