.info {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.item {
  min-width: 350px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 22px;
  color: #fff;
  background: linear-gradient(91.71deg, #89e5ff 0%, #709ffa 99.62%);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 22px;
  &:last-child {
    background: linear-gradient(91.71deg, #77c9ff 0%, #80b3ff 99.62%);
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p:nth-child(2) {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
