.modal {
  width: 553px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.subtitle {
  font-weight: 500;
  color: #585656;
  margin-bottom: 24px;
}
.input {
  height: 56px;
  font-size: 24px;
  padding: 0 24px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-bottom: 1rem;
  outline: none;
}
.err {
  font-size: 14px;
  color: red;
}
