.top {
  display: flex;
  gap: 24px;
  padding-top: 80px;
  padding-bottom: 24px;
}
.topItem {
  position: relative;
  flex: 1;
  background: linear-gradient(269.84deg, #1a63d1 0.08%, #7fa6f2 99.92%);
  border-radius: 1rem;
  padding: 16px 10px;
  color: #fff;
  display: flex;
  gap: 20px;
  padding-left: 217px;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.2;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.scooter {
  position: absolute;
  left: 26px;
  bottom: -7px;
}
.drone {
  position: absolute;
  left: -19px;
  bottom: 52px;
}

.points {
  padding: 32px 48px;
  background-color: #f3f8ff;
  border-radius: 1rem;
  margin-bottom: 24px;
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 23px;
  }
}

.point {
  padding: 32px 48px;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  h3 {
    margin-right: 1rem;
  }

  div {
    margin-right: 32px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    background-color: #f9f9f9;
    border-radius: 1rem;
    color: #585656;
  }
}

.map {
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 1rem;
}

.ourAc {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
  background-color: #f3f8ff;
  border-radius: 1rem;
  padding: 24px;
  height: 256px;
  overflow: hidden;
  margin-bottom: 24px;
}
.ourAcInfo {
  display: flex;
  align-items: center;
  color: var(--prime);

  img {
    margin-left: 24px;
    margin-bottom: -23px;
  }
  div {
    margin-left: -170px;
  }
  h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
.ourAcImportant {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  font-weight: 500;
  color: var(--prime);
}
