.footer {
  padding: 30px 0;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.info {
  display: flex;
  flex-direction: column;
  & > svg {
    margin-bottom: 27px;
  }
  & > p {
    color: #878787;
    margin-bottom: 1.5rem;
    &:last-child {
      font-size: 14px;
      color: #b7b7b7;
      max-width: 273px;
    }
  }
}
