.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #b7b7b7;
  padding: 0 24px;
  border-radius: 0.5rem;
  flex: 1;
  input {
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    border: none;
    outline: none;
  }
}
.searchDrop {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
  box-shadow: 0px 4px 16px 0px #0000000d;
  max-height: 480px;
  transition: 0.3s;
  z-index: 100;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 20px;
  }
  &.drop {
    visibility: visible;
    opacity: 1;
  }
}
.item {
  padding: 16px 24px 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #b7b7b7;
  &:last-child {
    border-bottom: none;
  }
}
.row {
  display: flex;
  gap: 1rem;
  img {
    width: 64px;
    height: 64px;
  }
}
.info {
  color: var(--prime);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }
}
.name {
  p {
    font-size: 20px;
    &:nth-child(2) {
      font-size: 24px;
      font-weight: 500;
    }
  }
}
.not {
  font-size: 20px;
  padding: 1rem;
}
