.modal {
  width: 500px;
  padding: 24px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  & > p {
    color: var(--prime);
    cursor: pointer;
  }
}
.field {
  display: block;
  background: var(--light-grey);
  border: none;
  padding: 0 1rem;
  height: 50px;
  width: 100%;
  border-radius: 1rem;
  transition: 0.3s;
  outline: none;
  &:focus {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05) inset;
  }
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &.err {
    outline: 1px solid red;
  }
}
.inputBlock {
  position: relative;
}
.checkIcon {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
}
.btn {
  background: linear-gradient(91.71deg, #41a3ff 0%, var(--prime) 99.62%);

  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 1rem;
  transition: 0.3s;
  margin-bottom: 1rem;
  &:hover {
    filter: brightness(0.95);
  }
}
