.modal {
  width: 500px;
  padding: 24px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  & > p {
    color: var(--prime);
    cursor: pointer;
  }
}

.btn {
  background: linear-gradient(91.71deg, #41a3ff 0%, var(--prime) 99.62%);

  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 1rem;
  transition: 0.3s;
  margin-bottom: 1rem;
  &:hover {
    filter: brightness(0.95);
  }
}
