.menu {
  height: inherit;
  position: relative;
  z-index: 2;
  &.open {
    .catalog {
      background-color: #9747ff;
      border-radius: 16px 16px 0 0;
    }
    .catalogDrop {
      visibility: visible;
      opacity: 1;
      height: 350px;
    }
    .categoryProducts {
      visibility: visible;
      opacity: 1;
    }
  }
}
.catalog {
  height: 100%;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 20px;
  font-family: inherit;
  color: #fff;
  background-color: var(--prime);
  border-radius: 16px;
  transition: 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}
.catalogDrop {
  visibility: hidden;
  opacity: 0;
  height: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px #0000000d;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 16px 16px;
  transition: 0.3s;
  padding: 24px 16px;
  overflow: auto;
  &.select {
    border-bottom-right-radius: 0;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  li {
    padding: 8px;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      filter: brightness(0.96);
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &.active {
      background-color: #f0e4ff;
      color: var(--prime);
    }
  }
}

.categoryProducts {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 100%;
  top: 100%;
  z-index: 10;
  padding: 24px;
  background-color: #fff;
  border-radius: 0 16px 16px 0;
  box-shadow: 0px 4px 16px 0px #0000000d;
  transition: 0.3s;
  height: 350px;
  width: 658px;
  display: flex;
  flex-direction: column;
}
.inner {
  /* max-height: 100%; */
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
  gap: 8px;
  padding-right: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--light-grey);
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 0.5rem;
  }
}
.card {
  display: flex;
  align-items: center;
  background-color: var(--light-grey);
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
  img {
    width: 48px;
    height: 48px;
  }
  div {
    max-width: 128px;
    overflow: hidden;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    background-color: #f0e4ff;
    color: var(--prime);
  }
}
@media (max-width: 960px) {
  .inner {
    width: 500px;
    grid-template-columns: 1fr 1fr;
  }
}
