.wrapper {
  padding: 120px 0;
}
.productImages {
  width: 400px;
}
.productInfo {
  display: flex;
  gap: 96px;
}
.mainImage {
  width: 100%;
  img {
    border-radius: 8px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
.rowImages {
  display: flex;
  li {
    flex: 1;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    padding: 2px;
    transition: 0.3s;
    border: 2px solid transparent;
    cursor: pointer;

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.active {
      border: 2px solid var(--prime);
    }
  }
}
.details {
  flex: 1;
}
.productTitle {
  margin-bottom: 22px;
  font-size: 40px;
  font-weight: 700;
}
.productDetails {
  display: flex;
  gap: 63px;
}
.left,
.right {
  width: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #12121205;
  border-radius: 1rem;
}
.rightTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
}
.price {
  font-size: 32px;
  font-weight: 700;
}
.available {
  display: flex;
  align-items: center;
  gap: 4px;
}
.add {
  flex: 1;
  text-align: center;
  min-height: 46px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  &.added {
    background-color: #6fd91c;
    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}
