.btn {
  all: unset;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & > svg * {
    transition: 0.3s;
  }
  &:hover {
    & > svg * {
      opacity: 0.8;
    }
  }
}
