.wrapper {
  padding: 24px 0;
  background-color: #f9f9f9;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item {
  padding: 24px 40px;
  border-radius: 1rem;
  background-color: #fff;
  cursor: pointer;
  svg {
    transition: 0.3s;
  }
  &.active {
    svg {
      transform: rotate(-180deg);
    }
    .drop {
      max-height: 400px;
    }
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
.drop {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.text {
  padding-top: 1rem;
  font-size: 17px;
  color: #000;
}
