.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    flex: 1;
    border-radius: 4px;
  }
}
